.header
	@apply shadow-Dropshadow-Light bg-Neutral-White sticky left-0 right-0 z-100 top-0 py-5 lg:py-0
	.header-search
		@apply text-2xl text-Neutral-950 font-normal cursor-pointer  hover:text-Primary-Primary_01 inline-flex items-center justify-center w-9 h-9 flex-shrink-0
	.header-bar
		@apply w-12 h-12 flex-shrink-0 inline-flex items-center justify-center text-Neutral-White bg-Primary-Primary_01 backdrop-blur-sm text-2xl
	.header-menu
		.header-nav
			@apply  inline-flex items-center rem:py-[10px] px-15 justify-between text-Neutral-White text-lg xl:rem:w-[1160px] lg:rem:w-[950px] bg-Primary-Primary_01 
			border-radius: 32px 32px 0px 0px
			li
				a
					@apply text-lg font-semibold rem:py-[6px] px-3 rem:rounded-[32px] text-Neutral-White bg-transparent inline-block
					&.active
						@apply   bg-Neutral-White text-Primary-Primary_01
					&:hover
						@apply text-Primary-Primary_01  bg-Neutral-White
				&[class*='current']
					&>a
						@apply bg-Neutral-White text-Primary-Primary_01
		.col-left
			@apply flex items-center rem:gap-[25px]
			.item
				@apply flex items-center gap-3
				a
					@apply text-Neutral-900 font-normal hover:text-Primary-Primary_01
				i
					@apply text-Primary-Primary_01
	.search-bar-container
		position: absolute
		top: 100%
		left: -110%
		right: 0
		padding: 1.5rem 15px
		display: flex
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05)
		background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75))
		background-size: cover
		backdrop-filter: blur(5px) !important
		height: 100vh
		width: 100%
		align-items: center
		flex-direction: column
		z-index: 1001
		// clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)	
		opacity: 0
		transition: left 0.5s ease-in-out, opacity 0.3s ease-in-out 0.4s, visibility 0s 1s
		// transition: clip-path 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out
		visibility: hidden
	.search-bar-container.active
		opacity: 1
		left: 0
		visibility: visible
		transition: left 0.5s ease-in-out, opacity 0.3s ease-in-out, visibility 0s
@media (max-width: 1023.98px)
	.header
		.header-nav-mobile
			position: absolute
			top: 100%
			left: 0
			box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05)
			background-color: #1f7a42
			width: 100vw
			height: calc(100dvh - var(--header-height))
			z-index: 9999
			display: flex
			flex-direction: column
			gap: 10px
			align-items: stretch
			opacity: 0 
			visibility: hidden 
			transform: translateY(30%)
			transition: all 0.4s ease
			@apply duration-500 max-xl:w-full
			&.open
				opacity: 1
				visibility: visible
				transform: translateY(0)
			ul
				@apply flex flex-col items-stretch w-full
				li
					a
						@apply text-Neutral-White py-4 px-[15px] border-b border-b-Neutral-White flex items-center text-[16px]
				li
					&[class*='current']
						&>a
							@apply text-Neutral-900
		.header-bottom-mobile
			.item
				@apply flex items-center gap-3 px-[15px]
				a
					@apply text-Neutral-White font-normal text-[16px]
				i
					@apply text-Neutral-White
					
			