section.home-2(class="section-py bg-gray-white relative overflow-hidden")
	.home-2-vector(class="absolute left-[-6rem] top-[-3rem]")
		img(src="./img/vector-home-2.png", alt="" class="lg:rem:w-[305px] lg:rem:h-[751px] w-auto h-auto")
	.container 
		.home-2-main(class="flex md:flex-row flex-col items-center gap-20")
			.col-left(class="md:w-6/12 w-full")
				h2(class="title-40 text-Neutral-950 font-bold mb-base") Công ty Cổ phần Cao su Dầu Tiếng Kratie
				.sub-title(class="text-lg text-Primary-Primary_01 text-justify font-bold mb-5") Hiện tại Công ty đang thực hiện đầu tư trồng mới 1.995,72 ha Cao su tại Tỉnh Kratie, Vương Quốc Campuchia đang đi vào khai thác.
				.desc(class="text-lg text-Neutral-800 text-justify font-normal mb-5") 
					p Công ty Cổ phần  Cao su Dầu Tiếng Kratie là công ty con của Tập đoàn công nghiệp Cao su Việt Nam, đây là doanh nghiệp được thành lập tại Việt Nam trên cơ sở vốn góp của Tập đoàn CNCS Việt Nam và một số đơn vị thành viên Tập đoàn được thành lập ngày 25 tháng 11 năm 2009 với  Danh sách cổ đông gồm:
				ul 
					li Tập đoàn Công nghiệp Cao su Việt Nam
					li Tập đoàn Công nghiệp Cao su Việt Nam
					li Tập đoàn Công nghiệp Cao su Việt Nam
					li Tập đoàn Công nghiệp Cao su Việt Nam 
				+btnPrimary()
			.col-right(class="md:w-6/12 w-full")
				.image(class="relative")
					a(href="#" class="img-ratio ratio:pt-[570_660] rem:rounded-[64px]")
						img(src="./img/1.jpg", alt="")