section.home-7(class="section-py bg-Neutral-50 relative")
	.container 
		h2(class="title-40 mb-base text-Neutral-950 font-bold text-center") Hoạt động của chúng tôi
		.swiper.home-7-swiper 
			.swiper-wrapper
				-for(let i = 0; i < 12; i++)
					.swiper-slide
						.home-7-item
							.image
								a(href="#" class="img-ratio ratio:pt-[213_320] zoom-img rounded-2xl")
									img(src="./img/1.jpg", alt="")
							.content(class="mt-5")
								h3(class="text-xl text-Neutral-Black font-bold") Album 1 
	.home-1-btn(class="lg:flex items-center justify-between gap-5 absolute  z-0 top-2/4 -translate-y-2/4 w-full rem:px-[172px] mt-base hidden")
		.btn.btn-prev.btn-sw-1
		.btn.btn-next.btn-sw-1
	.home-7-btn-mobile(class="flex-center gap-3 mt-base flex lg:hidden")
		.btn.btn-prev.btn-sw-1
		.btn.btn-next.btn-sw-1

	