section.home-8 
	.image(class="img-ratio lg:ratio:pt-[642_1920] w-auto h-auto relative overflow-hidden") 	
		img(src="./img/bg.png", alt="")
		.home-8-title(class="absolute bottom-0 xl:rem:pl-[148px] lg:rem:pl-[100px] pl-10 pt-15 lg:pt-0")
			h2 SUSTAINABILITY
		.home-8-box(class="absolute right-0 xl:rem:pr-[259px] lg:rem:pr-[190px] bottom-0")
			.home-8-content(class="bg-Primary-Primary_02 rem:w-[441px] rem:rounded-tl-[64px] rem:rounded-tr-[64px] lg:p-8 p-6 lg:pb-20 pb-8 text-Neutral-White font-secondary")
				h3(class="lg:rem:text-[36px] text-30 font-bold lg:rem:mb-[78px] mb-5") Phát triển bền vững
				.desc(class="text-lg font-normal") 
					p Công ty Cổ phần Cao su Dầu Tiếng Kratie và Cao su Dầu Tiếng Campuchia cam kết phát triển bền vững, kết hợp hài hòa giữa tăng trưởng kinh tế, bảo vệ môi trường và trách nhiệm xã hội. Chúng tôi không ngừng đổi mới để tạo ra giá trị lâu dài cho cộng đồng và ngành cao su.
