section.home-1(class="md:block hidden")
	.swiper.swiper-home-banner 
		.swiper-wrapper
			.swiper-slide
				.home-1-banner(class="relative")
					a(href="#" class="img-ratio ratio:pt-[960_1920]")
						img(src="./img/1.jpg", alt="") 
					.bg-linear-banner(class="absolute top-0 left-0 w-full h-full bg-linear-20")
					.home-1-banner-content(class="absolute top-1/2  -translate-y-1/2 lg:rem:pl-[260px] text-Neutral-White lg:rem:w-[800px] w-full pl-10")
						h3(class="lg:rem:text-[52px] text-3xl font-bold") Uy tín đồng hành – Bền vững vươn xa
					
			.swiper-slide
				.home-1-banner(class="relative")
					a(href="#" class="img-ratio ratio:pt-[960_1920]")
						img(src="./img/banner-1.png", alt="") 
					.bg-linear-banner(class="absolute top-0 left-0 w-full h-full bg-linear-20")
					.home-1-banner-content(class="absolute top-1/2  -translate-y-1/2 lg:rem:pl-[260px] text-Neutral-White lg:rem:w-[800px] w-full pl-10")
						h3(class="rem:text-[52px] font-bold") Uy tín đồng hành – Bền vững vươn xa
						
			.swiper-slide
				.home-1-banner(class="relative")
					a(href="#" class="img-ratio ratio:pt-[960_1920]")
						img(src="./img/1.jpg", alt="") 
					.bg-linear-banner(class="absolute top-0 left-0 w-full h-full bg-linear-20")
					.home-1-banner-content(class="absolute top-1/2  -translate-y-1/2 lg:rem:pl-[260px] text-Neutral-White lg:rem:w-[800px] w-full pl-10")
						h3(class="rem:text-[52px] font-bold") Uy tín đồng hành – Bền vững vươn xa
		.home-1-btn(class="flex items-center gap-5 absolute lg:bottom-[10rem] xl:bottom-[17rem] z-12 rem:pl-[260px]")
			.btn.btn-prev.btn-sw-1
			.btn.btn-next.btn-sw-1
section.home-1-mobile(class="hidden max-md:block relative")
	.swiper.swiper-home-banner-mobile 
		.swiper-wrapper
			.swiper-slide 
				.home-1-banner(class="w-full h-screen relative") 
					a(href="#" class="" class="w-full h-full inline-flex") 
						img(src="./img/1.jpg", alt=""  class="w-full h-full object-cover")
					.bg-linear-banner(class="absolute top-0 left-0 w-full h-full bg-linear-35")
					.home-1-mobile-content(class="absolute top-1/2 -translate-y-1/2 px-5 text-Neutral-White")
						h3(class="text-32 font-normal mb-6") Uy tín đồng hành – Bền vững vươn xa
						.home-1-btn(class="flex w-full mt-15")
							.btn.btn-prev.btn-sw-1
							.btn.btn-next.btn-sw-1

			.swiper-slide 
				.home-1-banner(class="w-full h-screen relative") 
					a(href="#" class="" class="w-full h-full inline-flex") 
						img(src="./img/banner-1.png", alt=""  class="w-full h-full object-cover")
					.bg-linear-banner(class="absolute top-0 left-0 w-full h-full bg-linear-35")
					.home-1-mobile-content(class="absolute top-1/2  -translate-y-1/2 px-5 text-Neutral-White")
						h3(class="text-32 font-normal mb-6") Uy tín đồng hành – Bền vững vươn xa
						.home-1-btn(class="flex w-full mt-15")
							.btn.btn-prev.btn-sw-1
							.btn.btn-next.btn-sw-1
					
			.swiper-slide 
				.home-1-banner(class="w-full h-screen relative") 
					a(href="#" class="" class="w-full h-full inline-flex") 
						img(src="./img/1.jpg", alt=""  class="w-full h-full object-cover")
					.bg-linear-banner(class="absolute top-0 left-0 w-full h-full bg-linear-35")
					.home-1-mobile-content(class="absolute top-1/2  -translate-y-1/2 px-5 text-Neutral-White")
						h3(class="text-32 font-normal mb-6") Uy tín đồng hành – Bền vững vươn xa
						.home-1-btn(class="flex w-full mt-15")
							.btn.btn-prev.btn-sw-1
							.btn.btn-next.btn-sw-1
					