footer.footer(class="bg-Primary-Primary_01 relative text-Neutral-White py-5")
	.social-fixed(class="fixed right-0 bottom-0 pb-15 flex flex-col gap-2 z-50")
		a.social-fixed-item.active(href="#" class="inline-flex items-center justify-center w-12 h-12 bg-[#146834] text-Neutral-White text-2xl")
			i.fa-regular.fa-arrow-up-to-line
		a.social-fixed-item(href="#" class="inline-flex items-center justify-center w-12 h-12 bg-[#146834]  text-Neutral-White text-2xl hover:bg-Neutral-600")
			i.fa-regular.fa-phone
		a.social-fixed-item(href="#" class="inline-flex items-center justify-center w-12 h-12 bg-[#146834]  text-Neutral-White text-2xl  hover:bg-Neutral-600")
			i.fa-regular.fa-envelope
	.home-7-vector(class="absolute left-0 top-0")
		img(src="./img/vector-footer.png", alt="" class="rem:w-[176px] rem:h-[433px]")
	.container 
		.footer-top(class="lg:py-15 py-0")
			.footer-list 
				.footer-column 
					h3 Công ty Cổ phần Cao su Dầu Tiếng Kratie 
					h3 Công ty Cổ phần Cao su Dầu Tiếng Campuchia
					.desc(class="opacity-75 mb-3") 
						p Khu phố 2, Thị trấn Dầu Tiếng, Huyện Dầu Tiếng, Tỉnh Bình Dương, Việt Nam
					.email 
						a(href="#" class="underline opacity-75") dautiengkratie@yahoo.com.vn 
				.footer-column
					h3 Liên kết nhanh
					ul 
						li
							a(href="#") Giới thiệu 
						li
							a(href="#") Sản phẩm
						li
							a(href="#") Công bố thông tin
						li
							a(href="#") Tin tức
						li
							a(href="#") Liên hệ
				.footer-column(class="flex flex-col md:flex-row lg:rem:gap-[109px] gap-base")
					.footer-col-left(class="lg:rem:w-[320px] w-full") 
						h3 Đăng ký nhận bản tin
						.footer-mail
							.mail
								.icon
									i.fa-regular.fa-envelope
									input(type="email" placeholder="Nhập Email của bạn")
								.send(class="cursor-pointer text-white text-xl font-black transition")
									i.fa-solid.fa-paper-plane-top
						.text(class="text-sm opacity-75 mt-4") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac 
					.footer-col-right(class="flex flex-col gap-4") 
						.item(class="rem:py-[10px] px-3 rem:rounded-[32px] bg-Neutral-White text-Primary-Primary_01") 
							a(href="#" class="flex items-center font-medium justify-center rem:gap-[10px]") About us
								i.fa-regular.fa-file-arrow-down
						.item(class="rem:py-[10px] px-3 rem:rounded-[32px] bg-Neutral-White text-Primary-Primary_01") 
							a(href="#" class="flex items-center font-medium justify-center rem:gap-[10px]") Brochure
								i.fa-regular.fa-file-arrow-down
						.item(class="rem:py-[10px] px-3 rem:rounded-[32px] bg-Neutral-White text-Primary-Primary_01") 
							a(href="#" class="flex items-center font-medium justify-center rem:gap-[10px]") Catalogue
								i.fa-regular.fa-file-arrow-down
		.footer-bottom(class="py-6 border-t border-t-255 flex items-center justify-between flex-col lg:flex-row text-Neutral-White") 
			.col-left 
				.copy-right(class="lg:text-left text-center")  
					p © 2025 DTKRA. All Rights Reserved. Thiết kế web bởi Cánh Cam.
			.col-right(class="flex items-center gap-5 text-Neutral-White text-xl") 
				a(href="#" class=" hover:text-Primary-Primary_01") 
					i.fa-brands.fa-facebook-f
				a(href="#" class=" hover:text-Primary-Primary_01")
					i.fa-brands.fa-youtube
				a(href="#" class=" hover:text-Primary-Primary_01")
					i.fa-brands.fa-tiktok