section.home-4(class="section-py bg-Primary-Primary_01 relative overflow-hidden z-10")
	.home-4-vector(class="absolute right-[-6rem] top-[3rem] -z-10")
		img(src="./img/vector-home-4.png", alt="" class="rem:w-[305px] rem:h-[751px]")
	.container 
		.home-4-list(class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-base")
			.home-4-item 
				.icon 
					img(src="./img/icon-1.svg", alt="")
				.content 
					.desc 
						p Sản xuất sản phẩm chất lượng, thân thiện với môi trường, đáp ứng nhu cầu thị trường ngày càng cao và đồng hành cùng xã hội.
			.home-4-item 
				.icon 
					img(src="./img/icon-1.svg", alt="")
				.content 
					.desc 
						p Sử dụng có hiệu quả các nguồn lực được giao để phát triển vững mạnh Công ty.
			.home-4-item 
				.icon 
					img(src="./img/icon-1.svg", alt="")
				.content 
					.desc 
						p Đảm bảo hài hòa lợi ích cộng đồng,khách hàng, Công ty, đối tác và người lao động.
			.home-4-item 
				.icon 
					img(src="./img/icon-1.svg", alt="")
				.content 
					.desc 
						p Góp phần tích cực vào sự phát triển bền vững về kinh tế, xã hội và đảm bảo an ninh quốc phòng, chính trị của địa phương và đất nước.
			.home-4-item 
				.icon 
					img(src="./img/icon-1.svg", alt="")
				.content 
					.desc 
						p Không ngừng đổi mới, ứng dụng công nghệ tiên tiến để nâng cao năng suất, chất lượng và giá trị sản phẩm.
			.home-4-item 
				.icon 
					img(src="./img/icon-1.svg", alt="")
				.content 
					.desc 
						p Xây dựng môi trường làm việc chuyên nghiệp, minh bạch và tạo điều kiện phát triển cho đội ngũ nhân sự.
